@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.woff2') format('woff2'),
         url('../fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoBoldItalic';
    src: url('../fonts/Robotobolditalic.woff2') format('woff2'),
         url('../fonts/Robotobolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Robotobold.woff2') format('woff2'),
         url('../fonts/Robotobold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoLIght';
    src: url('../fonts/Robotolight.woff2') format('woff2'),
         url('../fonts/Robotolight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}