.modal
  position: fixed
  width: 100%
  height: 100%
  left: 0
  top: 0
  background: rgba(0,0,0,0.8)
  display: flex
  align-items: center
  justify-content: center
  opacity: 1
  visibility: visible
  transition: all 0.2s ease-in-out
  &.unblock
    opacity: 0
    visibility: hidden
  .form-application
    background-color: #FFFFFF
.lock
  overflow: hidden
.modal-thanks
  &__wrapper
    background-color: #FFFFFF
    width: 300px
    height: 150px
    border-radius: 15px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    line-height: 1.5
    color: #000000
    p
      font-size: 18px
.waiting
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  //background-color: rgba(0, 0, 0, 0.5)
  display: flex
  align-items: center
  justify-content: center
  img
    width: 50px
    height: 50px
.order-form
  position: relative
.d-none
  display: none
@keyframes move
  from
    transform: translateY(0)
  25%
    transform: translateY(-5px)
  50%
    transform: translateY(0)
  75%
    transform: translateY(-5px)
  to
    transform: translateY(0)
.form-animate-label:before
  animation: move 0.5s ease-in-out
